main{
    background-color: #F2CC8F!important;
}

.nav-link{
    font-size: 16px;
    color: #3D405B!important;
}

#carta, .list-group-item{
    background-color: #F2CC8F!important;
    color: #3D405B!important;
}

#jumbo{
    padding-top: 0px;
}

#contfluid, .wrapper{
    background-color: #F4F1DE!important;
    padding-left: 15px;
    position: relative;
}

.anchor {
     padding-top: 100px; 
}

.lead, #welcome, .text-muted{
    color: #E07A5F!important;
}

.mb-0{
    color: #81B29A!important;
}

p, .blockquote-footer, h1, h2, li, table{
    color: #3D405B!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h3, h4{
    color: #3D405B!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 300;
}

#menuDropdwon, #barranav{
    background-color: #F2CC8F !important;
}
